---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-clustertemplate-openshift-io-v1alpha1-clustertemplateinstance
  failurePolicy: Fail
  name: mclustertemplateinstance.kb.io
  rules:
  - apiGroups:
    - clustertemplate.openshift.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - clustertemplateinstances
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-clustertemplate-openshift-io-v1alpha1-clustertemplateinstance
  failurePolicy: Fail
  name: vclustertemplateinstance.kb.io
  rules:
  - apiGroups:
    - clustertemplate.openshift.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - clustertemplateinstances
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-clustertemplate-openshift-io-v1alpha1-clustertemplatequota
  failurePolicy: Fail
  name: vclustertemplatequota.kb.io
  rules:
  - apiGroups:
    - clustertemplate.openshift.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - clustertemplatequotas
  sideEffects: None
